* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/Assets/CadastroProduto.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.signup_content {
    text-align: center;
}

.signup_title {
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
}

.signup_label {
    display: block;
    font-size: 1rem;
    color: #333;
    margin-bottom: 8px;
}

.signup_input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.password_label {
    display: block;
    font-size: 1rem;
    color: #333;
    margin-bottom: 8px;
}

.password_input,
.password_confirm_input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.password_confirm_label {
    display: block;
    font-size: 1rem;
    color: #333;
    margin-bottom: 8px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-signup {
    background-color: #ff5722;
    /* Cor laranja */
    color: #fff;
}

.back_link {
    display: block;
    margin-top: 20px;
    padding: 10px;
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.btn:hover {
    opacity: 0.8;
}

.back_link:hover {
    color: #333;
}