@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.cadastro {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    margin: 3vh 37vw;
    padding: 40px;
    background-color: #f1ca00;
    border-radius: 25px;
    gap: 20px;
    font-family: "Roboto Slab", serif;
    max-width: 90%;
    margin-top: 200px;
}

.cadastro_titulo {
    color: #32302f;
    font-weight: 600;
    font-size: 22px;
    font-style: normal;
}

.cadastro_selecao {
    display: flex;
    gap: 20px;
    width: 19rem;
    height: 64px;
}

input {
    color: black;
    font-size: 20px;
    width: 100%;
    padding: 20px 5px 5px;
    background-color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para os campos de entrada */
input[type="text"],
input[type="number"] {
    width: 100%;
    /* Define a largura padrão para os campos */
    padding: 5px;
    /* Adiciona um preenchimento interno */
    margin-bottom: 10px;
    /* Adiciona espaçamento inferior entre os campos */
    box-sizing: border-box;
    /* Faz com que o preenchimento e a borda não aumentem a largura total */
}

/* Estilos específicos para os placeholders */
input[type="text"]::placeholder,
input[type="number"]::placeholder {
    font-size: 15px;
    /* Define o tamanho da fonte do placeholder */
}

/* Estilos específicos para os campos 'Descrição' e 'Fornecedor' */
input#descricao,
input#fornecedor {
    height: 80px;
    /* Define uma altura maior para esses campos */
    resize: none;
    /* Impede que o usuário redimensione verticalmente os campos */
}

.cadastro_selecao_conjunto {
    display: none;
}

button {
    font-family: "Roboto Slab", serif;
    padding: 20px;
    border-radius: 15px;
    border: none;
    background-color: antiquewhite;
    cursor: pointer;
}

button:hover {
    background-color: #e5c08f;
}

@media screen and (max-width: 1200px) {
    .cadastro {
        margin: 4vh auto;
        padding: 20px;
        max-width: 90%;
        margin-top: 200px;

    }

    .cadastro_selecao {
        gap: 30px;
        width: 60%;
        height: auto;
    }

    .cadastro_selecao input[type="radio"] {
        transform: scale(1.2);
        /* Ajuste proporcional para telas menores */
    }

    input {
        font-size: 16px;
        padding: 15px 5px 5px;
    }

    .cadastro_titulo {
        font-size: 20px;
        text-align: center;
    }

    button {
        width: 100%;
        padding: 15px;
    }
}

@media screen and (max-width: 768px) {
    .cadastro {
        margin: 4vh 5vw;
        padding: 20px;
        width: 90%;
        margin-top: 200px;

    }

    .cadastro_selecao {
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 15px;
        text-align: center;
    }

    .cadastro_selecao input[type="radio"] {
        transform: scale(2);
        /* Ajuste proporcional para telas menores */
    }

    input {
        font-size: 14px;
        padding: 10px 5px 5px;
    }

    .cadastro_titulo {
        font-size: 18px;
    }

    button {
        padding: 10px;
        font-size: 16px;
    }
}