/* Arquivo style_Etiqueta.css */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.Etiqueta {
    margin: 200px;
    max-width: 70vw;
    background-color: #f1ca00;
    border-radius: 25px;
    font-family: "Inter", sans-serif;
    font-size: 1vw;
    padding: 2.8vw 1.5vh 1vw 1.5vh;
    box-sizing: border-box;
}

.Etiqueta_full {
    margin-top: 100px;
    margin: 0 2vw;
    display: flex;
    padding: 1vw;
    background-color: white;
    border: 1px solid;
    flex-wrap: wrap;
}

.Etiqueta_full_left,
.Etiqueta_full_right {
    flex: 1;
    padding: 0.5vw;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5vw;
    min-width: 200px;
}

.Etiqueta_full_left {
    border-right: 1px solid;
}

.Etiqueta_full_left_title,
.Etiqueta_full_right_title {
    padding: 0.5vw 2vw;
    border-bottom: 1px solid;
}

.Etiqueta_full_left_img,
.Etiqueta_full_right_protocol img {
    width: 16vw;
    height: auto;
    max-width: 100%;
}

.Imprimir {
    padding: 10px;
    text-align: center;
}

.Button-pdf {
    margin-left: 30px;
    align-items: end;
    width: 100px;
    font-family: "Roboto Slab", serif;
    font-size: 15px;
    padding: 13px;
    border-radius: 15px;
    border: none;
    background-color: antiquewhite;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .Etiqueta {
        max-width: 80vw;
        font-size: 1.5vw;
        padding: 2vw 1vh 1vw 1vh;
        margin: auto;
        margin-top: 200px;
    }

    .Etiqueta_full {
        flex-direction: column;
    }

    .Etiqueta_full_left,
    .Etiqueta_full_right {
        min-width: 100%;
        border-right: none;
        border-bottom: 1px solid;
    }

    .Etiqueta_full_left_img,
    .Etiqueta_full_right_protocol img {
        width: 20vw;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .Etiqueta {
        justify-content: center;
        font-size: 2vw;
        padding: 50px 1vh 0.5vw 1vh;
        
    }

    .Etiqueta_full_left_img,
    .Etiqueta_full_right_protocol img {
        width: 25vw;
        height: auto;
    }

    .Etiqueta_full_right_protocol {
        width: 150px;
        margin-left: 60px;
    }

    .Button-pdf {
        width: 80px;
        font-size: 14px;
        padding: 10px;
        margin-left: 10px;
    }
}